@import"../../../Styles/app.scss";
.dental_tips_video_container{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    @include tablet{
        flex-wrap: wrap;
    }
    .dental_video_card{
        width: 300px;
        height: 180px;
        margin: 0px 20px;
        @include mobile{
            margin: 10px 0px;
            width: 250px;
            height: 150px;
        }
    }


}