@import "../../../Styles/app.scss";
.rew_video_cards_container{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    @include mobile{
        
        flex-wrap: wrap;
    }

}